﻿	a {
		font-family: monospace;
		font-weight: none;
                
	}

    a:link {
	  color: #00c;
      text-align:center;
      text-decoration:none;
	}

	a:visited {
		color: Red;
        text-decoration:none;
	}

	a:hover {
	 text-decoration: underline;
	 color:blue; 
     background-color:forestgreen;
	}

	a:active {
		font-weight:bold;
        text-decoration:none;
	}
	
    img.Display{
        display:block;
        margin-left:auto;
        margin-right:auto;
       
    }
   
