﻿ @font-face {
    font-family: "ArimaMadurai-Regular";
    src: url("ArimaMadurai-Regular.ttf");
 }
            

#id_1{
    text-align:center;
    font-family:ArimaMadurai-Regular;
    font-weight:bold;
    font-size:large;
   }

#id_2{
    text-align:left;
    
}

#para_1{
    font-size:12px;
    text-align:center;
    font-family:ArimaMadurai-Regular;
}	

