﻿ @font-face {
    font-family: "ArimaMadurai-Regular";
    src: url("ArimaMadurai-Regular.ttf");
 }
            

#id_1{
    text-align:center;
    font-family:ArimaMadurai-Regular;
    font-weight:bold;
    font-size:large;
   }

#id_2{
    text-align:left;
    
}

#para_1{
    font-size:12px;
    text-align:center;
    font-family:ArimaMadurai-Regular;
}	
	a {
		font-family:ArimaMadurai-Regular;
		font-weight: none;
                
	}

    a:link {
	  color: #00c;
      text-align:center;
      text-decoration:underline;
	}

	a:visited {
		color:deeppink;
        text-decoration:none;
	}

	a:hover {
	 text-decoration: none;
     font-weight:bold;
	 color:blueviolet; 
 
	}

	a:active {
		color:red;
        text-decoration:none;
	}
