﻿	a {
		font-family: monospace;
		text-decoration: underline;
		font-weight: none;
                
	}

    a:link {
	  color: #00c;
      text-align:center;
	}

	a:visited {
		color: Red;
	}

	a:hover {
	 text-decoration: none;
	 color: #00c; 
	 font-family: cursive;
	}

	a:active {
		font-weight:bold;
	}
	
    img.Display{
        display:block;
        margin-left:auto;
        margin-right:auto;
       
    }
   
